{% extends "shop/base.html" %}
{% block title%} {{product.product_name}} {%endblock%}

{%block css%} {%endblock%}

{%block content%}

    <div class="container">
        <div class="row my-4" style="text-align:center">
            <div class="col-md-12"  style="text-align:center">
                <!-- <div class="row" style="text-align:center"> -->
                    <img src="/media/{{product.image}}" alt="" width="500px" height="300px">
                <!-- </div> -->
                <!-- <div class="row">
                    <button id="pr{{i.id}}" class="btn btn-primary cart mx-5 my-3">Buy Now</button>
                    <button id="pr{{i.id}}" class="btn btn-primary cart my-3">Add To Cart</button>
                </div> -->
            </div>
            
        </div> 
        <div class="row my-4">
            
            <div class="col-md-12" >
                <h1 style="text-align:center">{{product.product_name}}</h1>
                <h2 style="text-align:center"><b>Rs. {{product.price}}</b></h2>
                <br>
                <h4>Product Details</h4>
                <p>{{product.desc}}</p>
            </div>
        </div>  
    </div>

{%endblock%}

{%block js%}
<script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    console.log(cart);
    var sum = 0;
    var totalPrice = 0;

    if ($.isEmptyObject(cart)) {
        //if object is empty
        mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
        $('#items').append(mystr);
    } else {
        for (item in cart) {
            let name = cart[item][1];
            let qty = cart[item][0];
            let itemPrice = cart[item][2];
            sum = sum + qty;
            totalPrice = totalPrice + qty * itemPrice
            mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                ${name}
                <span class="badge badge-primary badge-pill">${qty}</span>
            </li>`
            $('#items').append(mystr);
        }
    }
    document.getElementById('cart').innerHTML = sum;
    document.getElementById('totalPrice').innerHTML = totalPrice;

    $('#itemsJson').val(JSON.stringify(cart));
    {% if thank %}
    alert("Thanks for ordering with us. Your order id is {{id}}. Use it to track your order using our order tracker")
    localStorage.clear();
    document.location = "/shop";
    {% endif %}

    $('#amount').val($('#totalPrice').html());
</script>
  
{% endblock %}